@charset "UTF-8";

body{ 
	background: url("images/IMG_1733.jpg");
}

.jikosyoukai{
	text-align: center;
        color: #000000;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        border-radius: 10px;
        width: 40%;
        margin: 0 auto;
}

.jikosyoukai p {
	 margin: 10px 0;
        line-height: 1.6;
}

