@charset "UTF-8";

body{ 
	background: url("images/IMG_1733.jpg");
	background-size: cover;
	font-size: 25px;
	color: white;
}

.jikosyoukai {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
}
