@charset "UTF-8";

body{ 
	background: url("images/IMG_1733.jpg");
	background-size: cover;
	font-size: 25px;
	color: white;
}

.header{ 
        margin: 25px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        font-size; 25px;
        color: white;
}
